body {
    background-image: url("Images/background2.jpg");
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    touch-action: none;
    font-family: "Arial", Arial, Sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px #000;
}
/*Placeholder*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ff875c;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ff875c;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ff875c;
}

/*Rotate view */
#rotate {
    visibility: hidden;
    position: absolute;
}
/*Error view */
#errorView {
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#errorText {
    margin: auto;
    width: 50vw;
    margin-top: 35vh;
}
/*StartView*/
#startView {
    width: 100vw;
    height: 100vw;
    position: absolute;
}

#startButton {
    margin: auto;
    display: block;
    border-style: none;
    background-color: transparent;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("Images/Button/buttonStart.png");
}

#startButton:active {
    background-image: url("Images/Button/buttonStartPressed.png");
}
/*Name view */
#nameView {
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.nameText {
    margin: auto;
    text-align: center;
    position: relative;
    width: auto;
    color: #ff875c;
}

#nameField {
    position: relative;
    margin: auto;
    display: block;
    color: #ff875c;
    text-transform: uppercase;
}

#nameButton {
    margin: auto;
    display: block;
    border-style: none;
    background-color: transparent;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("Images/Button/buttonNext.png");
}

    #nameButton:active {
        background-image: url("Images/Button/buttonNextPressed.png");
    }
/*Weapon view */
#weaponView {
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

#weaponBox {
    width: 100vw;
}

.Weapon {
    display: inline-block;
    text-align: center;
    border-color: black;
    color: #ff875c;
}

.WeaponText {
    margin-top: 5vh;
    margin-left: -3vw;
}

.Weapon img {
    height: inherit;
    width: inherit;
}
/*Game view*/
#gameView {
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url("Images/Avatars/avatar29.png");
    background-position: top;
    background-repeat: no-repeat;
}
#name {
    position: absolute;
    height: 20vh;
    width: 100vw;
    top: 25vh;
    text-align: center;
}
#leftBox {
    height: 99vh;
    width: 60vw;
    position: absolute;
}

#rightBox {
    position: absolute;
    height: 99vh;
    width: 40vw;
    right: 0px;
}

.Button {
    background-color: transparent;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /*texten can not be selected*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#left {
    position: absolute;
    background-image: url("Images/Button/buttonLeft.png");
}

#right {
    position: absolute;
    background-image: url("Images/Button/buttonRight.png");
}

#fire {
    position: absolute;
    background-image: url("Images/Button/buttonFire.png");
}

#leftActive {
    position: absolute;
    background-image: url("Images/Button/buttonLeftPressed.png");
}

#rightActive {
    position: absolute;
    background-image: url("Images/Button/buttonRightPressed.png");
}

#fireActive {
    position: absolute;
    background-image: url("Images/Button/buttonFirePressed.png");
}

#score {
    background: transparent;
    height: 7vh;
    width: 7vw;
    position: absolute;
    top: 2px;
    right: 12px;
    font-size:4vh;
}

#healthBar {
    position:absolute;
    top: 5px;
    left:-10px;
    background-color:transparent;
    height: 5vh;
    width: 30vw;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
}

#health {
    background-color: #87ffc5;
    height: inherit;
    width: inherit;
    border-radius: inherit;
}
#gunChange {
    filter: invert(100%);
    opacity: 0.9;
    height: 10vh;
    width: 10vh;
    margin: 1vh;
    border-style: solid;
    padding: 1vh;
    border-width: 4px;
    border-color: black;
    border-radius: 10px;
}
#gunChange img {
    height: inherit;
    width: inherit;
}
/*********************/
/*****Smartphones*****/
/*********************/
@media only screen and (min-width : 320px) and (max-device-width : 640px) {
    /* Styles */
    body {
        color: #ffffff;
        font-size: 24px;
    }

    #startButton {
        width: 35vw;
        height: 45vh;
        margin-top: 30vh;
    }

    .nameText {
        height: 50px;
        margin-top: 10vw;
    }

    #nameField {
        height: 4vh;
        width: 40vw;
        font-size: 20px;
        border-radius: 2vw;
        padding: 15px;
        border-color: black;
        border-width: 4px;
        background-color: inherit;
    }

    #nameButton {
        width: 23vw;
        height: 27vh;
        margin-top: 30px;
    }

    #weaponBox {
        height: 50vh;
    }

    .Weapon {
        height: 25vh;
        width: 15vw;
        border: solid #000;
        border-width: 4px;
        margin-left: 10vw;
        padding: 2vw;
        margin-top: 6vh;
    }

    #gameView {
        background-size: 52%;
    }
    .Button {
        width: 25vw;
        height: 25vw;
    }

    #left {
        top: 35vh;
        left: 3vw;
    }

    #right {
        top: 35vh;
        right: 3vw;
    }

    #fire {
        top: 29vh;
        right: 3vw;
        width: 30vw;
        height: 30vw;
    }

    #fireActive {
        top: 29vh;
        right: 3vw;
        width: 30vw;
        height: 30vw;
    }

    #leftActive {
        top: 35vh;
        left: 3vw;
    }

    #rightActive {
        top: 35vh;
        right: 3vw;
    }
}




/*********************/
/*****Smartphones*****/
/*********************/
@media only screen and (min-width : 640px) and (max-device-width : 951px) {
    /* Styles */
    body {
        color: #ffffff;
        font-size: 35px;
    }

    #startButton {
        width: 350px;
        height: 257px;
        margin-top: 25vh;
    }

    .nameText {
        height: 50px;
        margin-top: 10vw;
    }

    #nameField {
        height: 4vh;
        width: 40vw;
        font-size: 25px;
        border-radius: 2vw;
        padding: 15px;
        border-color: black;
        border-width: 6px;
        background-color: inherit;
    }

    #nameButton {
        width: 180px;
        height: 120px;
        margin-top: 30px;
    }

    #weaponBox {
        height: 40vh;
    }

    .Weapon {
        height: 25vh;
        width: 15vw;
        border: solid #000;
        border-width: 7px;
        margin-left: 9vw;
        padding: 2vw;
        margin-top: 6vh;
    }

    #gameView {
        background-size: 54%;
    }

    .Button {
        width: 25vw;
        height: 25vw;
    }

    #left {
        top: 35vh;
        left: 3vw;
    }

    #right {
        top: 35vh;
        right: 3vw;
    }

    #fire {
        top: 29vh;
        right: 2vw;
        width: 30vw;
        height: 30vw;
    }

    #fireActive {
        top: 29vh;
        right: 2vw;
        width: 30vw;
        height: 30vw;
    }

    #leftActive {
        top: 35vh;
        left: 3vw;
    }

    #rightActive {
        top: 35vh;
        right: 5vw;
    }
}


/*********************/
/******* iPads********/
/*********************/
@media only screen and (min-device-width :900px ) and (max-device-width : 1366px) {
    /* Styles */
    body {
        color: #ffffff;
        font-size: 72px;
    }

    #startButton {
        width: 45vw;
        height: 45vh;
        margin-top: 30vh;
    }

    .nameText {
        height: 100px;
        margin-top: 10vw;
    }

    #nameField {
        height: 8vh;
        width: 50vw;
        font-size: 50px;
        border-radius: 2vw;
        padding: 20px;
        border-color: black;
        border-width: 9px;
        background-color: inherit;
    }

    #nameButton {
        width: 32vw;
        height: 28vh;
        margin-top: 10vh;
    }

    #weaponBox {
        height: 60vh;
    }

    .Weapon {
        height: 30vh;
        width: 20vw;
        border: solid #000;
        border-width: 15px;
        margin-left: 4vw;
        padding: 2vw;
        margin-top: 6vh;
    }

    #gameView {
        background-size: 70%;
    }

    .Button {
        width: 27vw;
        height: 27vw;
    }

    #left {
        top: 40vh;
        left: 2vw;
    }

    #right {
        top: 40vh;
        right: 2vw;
    }

    #fire {
        top: 37vh;
        right: 2vw;
        width: 30vw;
        height: 30vw;
    }

    #fireActive {
        top: 37vh;
        right: 2vw;
        width: 30vw;
        height: 30vw;
    }

    #leftActive {
        top: 40vh;
        left: 2vw;
    }

    #rightActive {
        top: 40vh;
        right: 2vw;
    }
}
/******************************/
/***ROTATION OF THE SCREEEN***/
/****************************/
@media only screen and (orientation: portrait) {

    body {
        margin: 0;
        overflow: hidden;
    }

    #rotate {
        visibility: visible;
        background-color: transparent;
        display: block;
        margin: auto;
        height: 100vh;
        width: 100vw;
        margin-top: 30vw;
        filter: invert(100%);
        opacity: 0.7;
        color: black;
        text-align: center;
    }

    #rotate img {
        height: 34vh;
    }

    #content {
        visibility: hidden;
    }


    /*Game view*/
    #gameView {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        transform-origin: bottom left;
        position: absolute;
        top: -100vw;
        left: 0;
        height: 100vw;
        width: 100vh;
        overflow: auto;
    }
    #name {
        height: 20vw;
        width: 100vh;
        top: 25vw;
    }
    #leftBox {
        height: 100vw;
        width: 60vh;
        position: absolute;
    }

    #rightBox {
        position: absolute;
        height: 100vw;
        width: 40vh;
        right: 0px;
    }
    #score {
        font-size: 4vw;
        right: 45px;
    }

    #weponChange {
        background: transparent;
        height: 5vw;
        width: 4vh;
        position: absolute;
        top: 2px;
        right: 2px;
    }

    #healthBar {
        background: green;
        height: 5vw;
        width: 31vh;
        border-style: solid;
        border-width: 4px;
        border-color: black;
        border-radius: 10px;
    }
    #gunChange {
        height: 10vW;
        width: 10vW;
        margin: 1vW;
    }

    @media only screen and (min-device-height :900px ) and (max-device-height : 1366px) {
        #gameView {
            background-size: 70%;
        }

        .Button {
            width: 27vh;
            height: 27vh;
        }

        #left {
            top: 40vw;
            left: 2vh;
        }

        #right {
            top: 40vw;
            right: 2vh;
        }

        #fire {
            top: 37vw;
            right: 2vh;
            width: 30vh;
            height: 30vh;
        }

        #leftActive {
            top: 40vw;
            left: 2vh;
        }

        #rightActive {
            top: 40vw;
            right: 2vh;
        }

        #fireActive {
            top: 37vw;
            right: 2vh;
            width: 30vh;
            height: 30vh;
        }
    }

    @media only screen and (min-height : 640px) and (max-device-height : 950px) {
        .Button {
            width: 25vh;
            height: 25vh;
        }

        #left {
            top: 35vw;
            left: 3vh;
        }

        #right {
            top: 35vw;
            right: 3vh;
        }

        #fire {
            top: 29vw;
            right: 2vh;
            width: 30vh;
            height: 30vh;
        }

        #fireActive {
            top: 29vw;
            right: 2vh;
            width: 30vh;
            height: 30vh;
        }

        #leftActive {
            top: 35vw;
            left: 3vh;
        }

        #rightActive {
            top: 35vw;
            right: 5vh;
        }
    }

    @media only screen and (min-height : 320px) and (max-device-height : 640px) {
        
        .Button {
            width: 25vh;
            height: 25vh;
        }

        #left {
            top: 35vw;
            left: 3vh;
        }

        #right {
            top: 35vw;
            right: 3vh;
        }

        #fire {
            top: 29vw;
            right: 6vh;
            width: 30vh;
            height: 30vh;
        }

        #leftActive {
            top: 35vw;
            left: 3vh;
        }

        #rightActive {
            top: 35vw;
            right: 3vh;
        }

        #fireActive {
            top: 29vw;
            right: 6vh;
            width: 30vh;
            height: 30vh;
        }
    }
}
